*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.image-container-item {
  width: 96%;
  padding: 20px;
  border-radius: 10px;
  background: #ddd;
  box-shadow: 0 0 10px #ddd;
  margin: 15px auto 0px;
}
.image-container-item img {
  border-radius: 5px;
  margin-bottom: 15px;
}
.image-container-item p {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
